:root[data-theme="dark"] {
  --box-shadow-pop: [object Object];
  --box-shadow-idle: [object Object];
  --box-shadow-hover: [object Object];
  --background-default: #140523;
  --background-system: #101015;
  --background-layer-1: #321d47;
  --fill-primary: #e6007a;
  --fill-primary-hover: #e6007a;
  --fill-primary-down: #e6007a;
  --fill-secondary: #dae0f2;
  --fill-secondary-hover: #dae0f2;
  --fill-secondary-down: #dae0f2;
  --fill-ghost: #321d47;
  --fill-ghost-hover: #321d47;
  --fill-ghost-down: #321d47;
  --fill-match-background: #140523;
  --fill-disabled: #ffffff0f;
  --fill-danger: #fd4935;
  --fill-danger-hover: #fd4935;
  --fill-danger-pressed: #fd4935;
  --fill-elevate-1: #ffffffb0;
  --fill-overlay: #ffffff94;
  --fill-selected: #e6eaf6;
  --fill-white: #ffffff;
  --fill-impress-1: #00000008;
  --text-and-icons-contrast: #ffffff;
  --text-and-icons-dimmed: #ffffff7a;
  --text-and-icons-match-background: #140523;
  --text-and-icons-primary: #e6007a;
  --text-and-icons-white: #ffffff;
  --text-and-icons-disabled: #ffffff61;
  --text-and-icons-danger: #fd4935;
  --text-and-icons-emphasized: #f272b6;
  --interactive-hover: #00000008;
  --interactive-pressed: #00000008;
  --interactive-hover-transparent-background: #ffffff0f;
  --accent-cyan: #00D0FF;
  --accent-green: #56F39A;
  --accent-lime: #D3FF33;
  --accent-pink: #f272b6;
}