:root {
  --padding-36-left-right: 1px;
  --padding-36-top-bottom: 0.5px;
  --padding-40-left-right: 1.25px;
  --padding-40-top-bottom: 0.625px;
  --padding-48-left-right: 1.5px;
  --padding-48-top-bottom: 0.75px;
  --padding-76-left-right: 2px;
  --padding-76-top-bottom: 1.25px;
  --padding-min-left-right: 0.5px;
  --padding-min-top-bottom: 0.25px;
  --gap-medium: 0.5px;
  --gap-small: 0.35px;
  --gap-large: 0.75px;
  --icon-20: 20px;
  --icon-24: 24px;
  --icon-36: 36px;
  --desktop-h1: [object Object];
  --desktop-h2: [object Object];
  --desktop-h3: [object Object];
  --desktop-h4: [object Object];
  --desktop-h5: [object Object];
  --desktop-h6: [object Object];
  --desktop-body1: [object Object];
  --desktop-body2: [object Object];
  --desktop-body2-medium: [object Object];
  --desktop-subtitle1: [object Object];
  --desktop-subtitle2: [object Object];
  --desktop-caption: [object Object];
  --mobile-h1: [object Object];
  --mobile-h2: [object Object];
  --mobile-h3: [object Object];
  --mobile-h4: [object Object];
  --mobile-h5: [object Object];
  --mobile-h6: [object Object];
  --mobile-subtitle1: [object Object];
  --mobile-subtitle2: [object Object];
  --mobile-body1: [object Object];
  --mobile-body2: [object Object];
  --mobile-caption: [object Object];
  --mobile-label: [object Object];
  --mobile-overline: [object Object];
  --pill: 9999px;
  --default: 0.5px;
  --none: [object Object];
  --xl: 1.5px;
}