:root[data-theme="dark"] {
  --colors-background-default: #140523;
  --colors-background-system: #101015;
  --colors-background-layer-1: #321d47;
  --colors-background-float: #28123e;
  --colors-fill-primary: #e6007a;
  --colors-fill-primary-hover: color(display-p3 0.74 0.16 0.43);
  --colors-fill-primary-down: color(display-p3 0.7 0.15 0.4);
  --colors-fill-secondary: #dae0f2;
  --colors-fill-secondary-hover: color(display-p3 0.87 0.88 0.95);
  --colors-fill-secondary-down: #dae0f2;
  --colors-fill-ghost: #321d47;
  --colors-fill-ghost-hover: color(display-p3 0.17 0.11 0.24);
  --colors-fill-ghost-down: #321d47;
  --colors-fill-match-background: #140523;
  --colors-fill-disabled: #ffffff0f;
  --colors-fill-danger: #fd4935;
  --colors-fill-danger-hover: color(display-p3 0.82 0.31 0.23);
  --colors-fill-danger-pressed: color(display-p3 0.78 0.29 0.22);
  --colors-fill-elevate-1: #ffffffb0;
  --colors-fill-overlay: #ffffff94;
  --colors-fill-selected: #e6eaf6;
  --colors-fill-white: #ffffff;
  --colors-border-contrast: #201f37;
  --colors-border-dimmed: #00000070;
  --colors-border-primary: #e6007a;
  --colors-border-danger: #e31902;
  --colors-border-hint: #9d9caf;
  --colors-border-disabled: #00000029;
  --colors-border-focus: #201f37;
  --colors-foreground-contrast: #ffffff;
  --colors-foreground-dimmed: #ffffff7a;
  --colors-foreground-match-background: #140523;
  --colors-foreground-primary: #e6007a;
  --colors-foreground-white: #ffffff;
  --colors-foreground-disabled: #ffffff61;
  --colors-foreground-danger: #fd4935;
  --colors-foreground-emphasized: #f272b6;
  --colors-accent-cyan: #00D0FF;
  --colors-accent-green: #56F39A;
  --colors-accent-lime: #D3FF33;
  --colors-accent-random: #abcabc;
  --box-shadow-pop: 0 8px 24px 0 #00000030;
  --box-shadow-idle: 0 4px 16px 0 #00000014;
  --box-shadow-hover: 0 8px 8px 0 #00000008;
}